* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: blue;
    max-width: 100%;
    max-width: 300vw;
    height: 5rem;
    display: flex;
}


/* Sidebar */

.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 1px 15px;
    border: none;
    top: 10px;
    left: 20px;
    border-radius: 5px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: white;
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
    height: 12vh;
}


.brasao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.brasao img {
    height: 20vh
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}